## Importing packages

I manually converted the .csv file to a sqlite 3 file already

In [5]:
import sqlite3

import pandas as pd

con = sqlite3.connect("league_data.sqlite3")

## Basic Setup

Most of this is just basic setup for config purposes

Dataset source: https://www.kaggle.com/datasets/bobbyscience/league-of-legends-diamond-ranked-games-10-min

40 columns and, 9.8k rows of data to be used

In [7]:
!sqlite3 league_data.sqlite3 ".tables"

match_data

The only table should be match_data

In [12]:
query = """ SELECT * FROM match_data; """

test_dataframe = pd.read_sql_query(query, con)

test_dataframe

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,0,28,2,1,9,6,11,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,4523371949,0,12,1,0,5,5,5,0,0,...,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,4521474530,0,15,0,0,7,11,4,1,1,...,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,4524384067,0,43,1,0,4,5,5,1,0,...,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,4436033771,0,75,4,0,6,6,6,0,0,...,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,4527873286,1,17,2,1,7,4,5,1,1,...,0,15246,6.8,16498,229,34,-2519,-2469,22.9,1524.6
9875,4527797466,1,54,0,0,6,4,8,1,1,...,0,15456,7.0,18367,206,56,-782,-888,20.6,1545.6
9876,4527713716,0,23,1,0,6,7,5,0,0,...,0,18319,7.4,19909,261,60,2416,1877,26.1,1831.9
9877,4527628313,0,14,4,1,2,3,3,1,1,...,0,15298,7.2,18314,247,40,839,1085,24.7,1529.8
9878,4523772935,1,18,0,1,6,6,5,0,0,...,0,15339,6.8,17379,201,46,-927,58,20.1,1533.9

## What are the columns and what do they mean?

There are 40 columns in the data set, here is what each of them means

images will be included later

Placables will be marked in RED
Entities will be marked in BLUE


<span style="color: red">Wards:</span>
<br><span style="color: blue">Elite Monsters:</span>

<br>gameId: match id
<br>blueWins: Boolean value, if 1, then blue won, otherwise red won
<br>blueWardsPlaced: <span style="color: red">Warding totems</span> placed by the blue team.
<br>blueWardsDestroyed: 
<br>
<br>
<br>
<br>
<br>
<br>
<br>